{% extends 'dorm_guide_app/base.html' %}

{% block title_block %}
    Change Password
{% endblock %}

{% block content %}
    <div class="col-lg-1 justify-content-center mx-auto w-25">
        <div class="row justify-content-center mb-3">
            <h2 class="text-primary mb-4 fw-bold text-center">Change Password</h2>

            <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Change Password" />
            </form>
        </div>
    </div>

{% endblock content %}
