{% extends 'dorm_guide_app/base.html' %}

{% block title_block %}
    Registration Closed
{% endblock %}

{% block content %}
    <div class="d-flex flex-column col-8 mx-auto align-items-center justify-content-center">
        <div class="row w-100 mb-5">
            <h2 class="text-center text-primary mb-4 fw-bold">Registration Closed</h2>
        </div>

        <div clas="row w-100">
            <p class="text-center">Unfortunately, registration is currently closed. Please try again later!</p>
        </div>
    </div>
{% endblock content %}
