body{
    background-color: #cce5ff !important;
  }
  
  .navbar-nav li a.nav-link {
    font-size: 21px;
  }
  
  .navbar {
    height: 80px;
  }
  
  .content-container {
    padding-top: 85px;
  }
  
  .search-box{
    padding-top: 30px;
    width: 60%;
  }
  
  .search-text{
    text-align: center;
  }
 
  .about-content{
    width: 95%;
    margin: 0 auto;
  }
