{% extends 'dorm_guide_app/base.html' %}
{% load staticfiles %}
{% load leaflet_tags %}

{% if accommodation %}
    {% block title_block %}
        {{ accommodation.name }}
    {% endblock %}
{% endif %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dorm-guide:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dorm-guide:universities' %}">Universities</a></li>
            <li class="breadcrumb-item"><a
                    href="{% if university.slug %}{% url 'dorm-guide:university' university.slug %}
                {% endif %}">{{ university.name }}</a></li>
            <li class="breadcrumb-item active">{% if accommodation.name %}{{ accommodation.name }}{% endif %}</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-4">
                <div class="row mb-1">
                    <img class="w-100 h-100" src="{% if accommodation.picture %}{{ MEDIA_URL }}{{ accommodation.picture }}{% else %}{{ STATIC_URL }}images/accom_default.jpg{% endif %}" alt="accommodation picture">
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8 shadow p-3 bg-body rounded">
                        {% if accommodation %}
                            <h6 class="text-center"><b>Average Weekly Rent:</b> £{{ accommodation.rent_min }} -
                                £{{ accommodation.rent_max }}</h6>
                            <h6 class="text-center"><b>Average Rating:</b> {{ avg_rating }} / 5.0</h6>
                            <h6 class="text-center"><b>Total Reviews:</b> {{ rating_no }}</h6>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <h1 class="text-primary"><b>{% if accommodation.name %}{{ accommodation.name }}{% endif %}</b></h1>
                </div>
                <div class="about-content d-flex align-items-center justify-content-center shadow p-3 bg-body rounded">
                    <p class="text-center">
                        {% if accommodation.name %}
                            {{ accommodation.description }}
                        {% else %}
                            No description yet.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row align-items-center justify-content-center">
                    <h2 class="text-center text-primary"><b>Location</b></h2>
                </div>
                <div class="row">
                    <div>
                        {% leaflet_map "map" %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">

                <div class="row">
                    {% if user_profile.current_student %}
                        <h2 class="text-center text-primary"><b>Leave A Review</b></h2>
                        <div class="row">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <h2 class="text-center text-primary"><b>Reviews</b></h2>
                    <div class="card-body">
                        {% for r in reviews %}
                            <div class="card mb-3">
                                <div class="row g-0">
                                    {% if r.picture %}
                                        <div class="col-md-4">
                                            <img src="{{ MEDIA_URL }}{{ r.picture }}"
                                                 class="d-block card-img">
                                        </div>
                                    {% endif %}
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ r.title }}</h5>
                                            <p class="card-text">{{ r.description }}</p>
                                            {% if r.user %}
                                                {% if r.isAnonymous == False %}
                                                    <span class="card-text text-muted"><img class="rounded-circle"
                                                         src="{{ MEDIA_URL }}{{ r.user.picture }}" height="35px;"
                                                         width="35px;">
                                                     {{ r.user }}</span>
                                                {% else %}
                                                    <span class="card-text text-muted"><i class="fas fa-user"></i> Anonymous</span>
                                                {% endif %}
                                            {% endif %}
                                            <p class="card-text text-muted mt-3">
                                                <i class="fas fa-award"></i>
                                                {% if r.rating == 1 %}
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                {% elif r.rating == 2 %}
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                {% elif r.rating == 3 %}
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                {% elif r.rating == 4 %}
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star"></i>
                                                {% elif r.rating == 5 %}
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                {% endif %}
                                            </p>
                                            <p class="card-text text-muted"><i
                                                    class="fas fa-calendar"></i> {{ r.datetime }}</p>
                                            <p class="card-text">
                                                <i class="fas fa-thumbs-up text-muted"
                                                   onclick="addLike({{ r.pk }})"></i>
                                                <span id="like-count-{{ r.pk }}">{{ r.likes }}</span>
                                            </p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <form id="csrf">
            {% csrf_token %}
        </form>

        <script href="{{ STATIC_URL }}/js/carousel.js" type="text/javascript"></script>
        <script>
            const osm_map = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '<a href="https://www.openstreetmap.org/copright">OpenStreetMap</a>'
            });

            const map = L.map('map', {
                layers: [osm_map]
            }).setView([{{ accommodation.latitude }}, {{ accommodation.longitude }}], 12);

            const marker = new L.Marker([{{ accommodation.latitude }}, {{ accommodation.longitude }}]);
            marker.addTo(map)
        </script>
        <script>
            function addLike(pk) {
                console.log($("#csrf").serializeArray()[0]["value"]);
                console.log(pk);
                $.ajaxSetup({
                    headers: {
                        'X-CSRFToken': $("#csrf").serializeArray()[0]["value"]
                    }
                });
                $.ajax({
                    url: "/dorm-guide/add-like/",
                    type: "POST",
                    data: {"pk": pk}
                }).done(function (response) {
                    console.log(response);
                });

                $("#like-count-" + pk.toString()).text(parseInt($("#like-count-" + pk.toString()).text()) + 1);
            }
        </script>

{% endblock %}
