<!DOCTYPE html>

{% load staticfiles %}
 {% load leaflet_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="icon" href="{% static 'images/dd_favicon.png' %}" type="image/png">
    <title>
        {% block title_block %}{% if block.content %}{{ block.content }}{% else %} Dorm Guide {% endif %}{% endblock title_block %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-light fixed-top">
        <div class="container-fluid">
            <ul class="navbar-nav flex-grow-1 justify-content-center nav-fill align-items-center">
                <a class="navbar-brand text-light" href="{% url 'dorm-guide:index' %}">
                    <img src="{% static 'images/dd_logo.png' %}" alt="Dorm Guide Logo" height="65px;" width="75px;">
                </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#", role="button" data-bs-toggle="dropdown">Universities</a>
                    <ul class="dropdown-menu">
                        {% for u in universities %}
                            <li><a class="dropdown-item" href="{% url 'dorm-guide:university' u.slug %}">{{ u.name }}</a></li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'dorm-guide:universities' %}">All Universities</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'dorm-guide:about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'dorm-guide:faq' %}">FAQs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'dorm-guide:contact_us' %}">Contact Us</a>
                </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="navbar-brand text-light" href="{% url 'dorm-guidee:my_account' user.id %}">
                        My Account
                        <img src="{% if user_profile.picture %}{{ user_profile.picture }}{% else %}{% static 'images/default_pp.png' %}{% endif %}" class="rounded" height="45px;" width="50px;" style="margin-left: 10px;">
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'dorm-guide:registration_register' %}">Register/Log In</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container-fluid content-container align-items-center">
    {% block content %}
    {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
</body>
</html>
