{% extends 'dorm_guide_app/base.html' %}
{% load leaflet_tags %}

{% block title_block %}
    Contact Us
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h2 class="text-primary fw-bold">Get in Touch with DormGuide</h2>
        <p class="lead">Have questions or want to learn more? Our team is ready to help!</p>
    </div>

    <div class="row g-4">
        <!-- Contact Info Section -->
        <div class="col-lg-6">
            <div class="card shadow-sm p-4 bg-body rounded">
                <h4 class="mb-3">Contact Information</h4>
                <p>Email: <a href="mailto:dormguidehelp@dormguideofficial.com">dormguidehelp@dormguideofficial.com</a></p>
                <p>Phone: <a href="tel:+4407233321476">+44 07233 321476</a></p>
                <p>For quick answers, check out our 
                    <a href="{% url 'dormguide:faq' %}">FAQ section</a>.
                </p>
                <p>We'd also love to see you in person! Find us on the map.</p>
            </div>
        </div>

        
        <div class="col-lg-6">
            <div id="map" class="shadow-sm rounded" style="height: 400px;"></div>
        </div>
    </div>
</div>

<script>
    
    const osm_map = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    const map = L.map('map', {
        layers: [osm_map],
        center: [55.871148, -4.288634], 
        zoom: 13
    });

    L.marker([55.871148, -4.288634])
        .addTo(map)
        .bindPopup("<b>DormGuide HQ</b><br>Come visit us!")
        .openPopup();
</script>
{% endblock %}
