{% extends 'dorm_guide_app/base.html' %}

{% block title_block %}
    FAQ
{% endblock %}

{% block content %}
    <section>
        <h2 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h2>
        <p class="text-center mb-5">
            Here are some answers to our most frequently asked questions
        </p>

        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 mb-5 shadow p-3 bg-body rounded mx-1">
                <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary"></i> How do I leave a review?</h6>
                <p>
                    To leave a review, you'll need to be a student at one of our supported universities and register
                    your account with your student email. <br>Once logged in, you'll be able to review any accommodation
                    provided by your university.
                </p>
            </div>

            <div class="col-md-4 col-lg-4 mb-5 shadow p-3 bg-body rounded mx-1">
                <h6 class="mb-3 text-primary"><i class="fas fa-star"></i> Are your reviews trustworthy?</h6>
                <p>
                    <strong>Yes.</strong><br>All reviews on the site are made by verified students at each institution.
                    <br> We will never edit reviews upon an institutions request.
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-lg-4 shadow p-3 bg-body rounded mx-1">
                <h6 class="mb-3 text-primary"><i class="fas fa-graduation-cap text-primary"></i> I can't find my
                    University on the site
                </h6>
                <p>
                    Sorry about that!<br>If your University is not listed on our website you can <a
                        href="{% url 'dorm-guide:contact_us' %}">contact us</a> and request we add it.
                </p>
            </div>

            <div class="col-md-4 col-lg-4 shadow p-3 bg-body rounded mx-1">
                <h6 class="mb-3 text-primary"><i class="fas fa-wallet text-primary"></i> Is Dorm Guide free to use?
                </h6>
                <p>
                    Yes, Dorm Guide is free to use for everyone and always will be.
                </p>
            </div>

        </div>
    </section>
{% endblock content %}

