{% extends 'dorm_guide_app/base.html' %}

{% block title_block %}
    Universities
{% endblock title_block %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dorm-guide:index' %}">Home</a></li>
            <li class="breadcrumb-item active">Universities</li>
        </ol>
    </nav>

    <div class="row mb-3 text-center">
        <h2 class="mb-3 text-primary"><b>Universities</b></h2>
        <p><em>All Universities hosted by Dorm Guide are not endorsed. We do not receive from these Universities nor
            do we alter reviews.</em></p>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for u in universities %}
            <div class="col">
                <a href="{% url 'dorm-guide:university' u.slug %}" style="text-decoration: none; color: black">
                    <div class="card h-100">
                        <img src="{% if u.picture %}{{ MEDIA_URL }}{{ u.picture }}{% else %}{{ STATIC_URL }}/images/uni_default.jpg{% endif %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><b>{{ u.name }}</b></h5>
                            <p class="card-text">{{ u.synopsis }}</p>
                        </div>
                        {% if accommodations %}
                        {% for a in accommodations %}
                            {% if a.university == u %}
                                <ul class="list-group list-group-flush">
                                    <div class="list-group-item">
                                        <a href="{% url 'dorm-guide:accommodation' u.slug a.slug %}">{{ a.name }}</a>
                                    </div>
                                </ul>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div class="card-footer">
                            <a href="{{ u.website }}" target="_blank" class="card-link">University Website</a>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
