{% extends 'dorm_guide_app/base.html' %}
{% load staticfiles %}
{% load leaflet_tags %}

{% if university %}
    {% block title_block %}
        {{ university.name }}
    {% endblock %}
{% endif %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dorm-guide:index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'dorm-guide:universities' %}">Universities</a></li>
            <li class="breadcrumb-item active">{% if university.name %}{{ university.name }}{% endif %}</li>
        </ol>
    </nav>

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-lg-4">
                <img class="w-100 h-100" src="







                        {% if university.picture %}{{ MEDIA_URL }}{{ university.picture }}{% else %}{{ STATIC_URL }}images/uni_default.jpg{% endif %}"
                     alt="university picture">
            </div>
            <div class="col-lg-8">
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <h1 class="text-primary"><b>{% if university.name %}{{ university.name }}{% endif %}</b></h1>
                </div>
                <div class="about-content d-flex align-items-center justify-content-center shadow p-3 bg-body rounded">
                    <p class="text-center">
                        {% if university.description %}
                            {{ university.description }}
                        {% else %}
                            No description yet.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="row align-items-center justify-content-center ">
                    <h2 class="text-center text-primary"><b>Location</b></h2>
                </div>
                <div class="row">
                    <div>
                        {% leaflet_map "map" %}
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="row">
                    <h2 class="text-center text-primary"><b>Accommodations</b></h2>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for a in accommodations %}
                        <div class="col">
                            <a href="{% url 'dorm-guide:accommodation' university.slug a.slug %}"
                               style="text-decoration: none; color: black">
                                <div class="card h-100">
                                    <img src="

                                            {% if a.picture %}{{ MEDIA_URL }}{{ a.picture }}{% else %}{{ STATIC_URL }}images/accom_default.jpg{% endif %}"
                                         class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>{{ a.name }}</b></h5>
                                        <p class="card-text">{{ a.description }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <script>
        const osm_map = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '<a href="https://www.openstreetmap.org/copright">OpenStreetMap</a>'
        });

        const map = L.map('map', {
            layers: [osm_map]
        }).setView([{{ university.latitude }}, {{ university.longitude }}], 12);

        const marker = new L.Marker([{{ university.latitude }}, {{ university.longitude }}]);
        marker.addTo(map)
    </script>

{% endblock %}
